body {
  background-color: rgb(144, 172, 196);
  /* width:1500px; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
  background-color: rgb(144, 172, 196);
  width: 100%;
  box-sizing: border-box;
}

main li img {
  width: 50%;
  height: 35%;
  /* border-radius: 6px; */
  object-fit: cover;
}
main ul {
  list-style-type: none;
  position: relative;
  padding: 0 !important;
  display: grid;
  /* 세 개의 열과 두 개의 행을 가진 그리드 정의 */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center !important;
  gap: 0
  margin: 10px 15px;
}

ul a {
  color: rgb(59, 122, 122) !important;
  background-color: rgb(144, 172, 196);
}

ul a:hover {
  background-color: aliceblue !important;
}

:any-link {
  color: rgb(59, 122, 122);
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main li {
  display: flex;
  background-color: aliceblue;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  margin: 10px auto;
  height: 40%;
  width: 90%; /* 블록의 가로 크기를 100%로 설정하여 부모 그리드 컨테이너의 크기에 따라 조정 */
  padding: 20px;
  box-sizing: content-box; /* 패딩을 포함한 크기를 설정 */
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 80%;
}

ul h2 {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
}

.item-content p {
  position: relative;
  top: -25px;
}

.actions {
  text-align: right;
  height: 50px;
  position: relative;
  bottom: 0px;
  
  box-sizing: content-box;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  border-radius: 3px;
  background-color: aliceblue !important;
}

.actions a:hover {
  text-align: right !important;
  background-color: white !important;
  padding: 0 5px;
}

ul li:nth-of-type(3) {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 95%;
}

/* #specific{
  position: relative;
  right: 7.5px;
  padding: 
} */

ul li:nth-of-type(10) {
  grid-column: 1/3;
  grid-row: 6/7;
  width: 95%;


}

.spe {
  position: relative;
  bottom: -50px;
}

.spe img {
  height: 100%;
}

footer {
  position: relative;
  top: 20px;
}

footer a {
  background-color: black;
}

footer a:hover {
  background-color: black !important;
}
